.chat__wrapper {
  margin: 15px;

  a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: $color-light;

    img {
      margin: 10px;
      border-radius: 50%;
      width: 25px;
      height: 25px;
    }

    .dot {
      background: $color-green;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      position: relative;
      left: 15px;
      top: 10px;
    }
  }

  a:hover {
    background: $color-grey-hover;
    border-left: solid 3px;
    border-color: $color-warning-hover;
  }
}