.chat__wrapper {
  margin: 15px;

  a {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: $color-light;

    img {
      margin: 10px;
    }
  }

  a:hover {
    background: $color-grey-hover;
    border-left: solid 3px;
    border-color: $color-warning-hover;
  }
}