.sidebar__menu {
  border-bottom: solid 1px;
  border-color: $color-grey;

  header {
    display: flex;
    justify-content: space-around;
  }

  &-links {
    li {
      padding: 10px;
    }

    li:hover {
      background: $color-grey-hover;
      border-left: solid 3px;
      border-color: $color-warning-hover;
    }

    a {
      text-decoration: none;
      color: $color-light;

      p {
        padding: 5px;
      }
    }
  }

  .ham {
    margin-top: 15px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    > div {
      width: 18px;
      height: 2px;
      background: $color-light;
    }
  }

  .ham:hover {
    > div {
      background: $color-warning-hover;
    }
  }
}