.main__links {
  margin: 0 10px 5px 0;
  background: $color-light;
  box-shadow: 0 4px 4px 0 rgba(161, 159, 159, 0.2), 0 6px 10px 0 rgba(41, 40, 40, 0.19);
  color: $color-grey;

  &__wrapper {
    width: 60%;
    margin: 10px 20%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    > div {
      padding: 0 20px;
      margin: 5px;
      width: 100%;
      border-bottom: solid 1px;
      border-color: $color-grey-hover;
      display: flex;
      justify-content: space-between;

      .icon-wrapper {
        opacity: 0;
      }
    }

    > div:hover {
      background: $color-grey-disabled;

      .icon-wrapper {
        opacity: 1;
      }
    }

    button {
      border: none;
      border-radius: $radius;
      color: $color-light;
      background: $color-warning;
    }

    button:hover {
      background: $color-warning-hover;
    }
  }

  img {
    margin: 5px;
    height: 12x;
    width: 12px;
  }

  h3 {
    padding: 15px;
    border-bottom: solid 1px;
    border-color: $color-grey-hover;
  }

  a {
    margin: 1em 0;
    text-decoration: none;
    color: $color-blue;
  }

  a:hover {
    color: $color-warning-hover;
  }

  .scroll-wrapper {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .scroll-wrapper table {
    width: 100%;
    max-width: 100%;
  }
}