body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: $color-grey-disabled;
  font-family: $font-text;
}

nav.topbar {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  height: 60px;
  width: 100%;
  background: $color-light;
  color: $color-grey;

  ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;

    li {
      padding: 15px;
      display: flex;
      justify-content: center;

      img {
        margin: 3px;
        height: 20px;
        width: 20px;
      }

      h2 {
        margin: 0;
      }
    }
  }
}

.sidebar {
  height: 100%;
  width: 180px;
  min-width: 120px;
  position: fixed;
  left: 0;
  background: $color-dark;
  color: $color-light;

  &__menu-links {

    list-style-type: none;
    margin: 0;
    padding: 5px;

    a {
      display: flex;
      flex-direction: row;

      img {
        margin: 3px;
        height: 20px;
        width: 20px;
      }

      p {
        margin: 3px;
      }
    }
  }
}

.main {
  position: fixed;
  top: 60px;
  right: 0;
  left: 200px;
}