/* Variables */

$color-dark: #333333;
$color-light:#ffffff;
$color-grey: #979797;
$color-grey-hover: #bdbdbd;
$color-grey-disabled: #e3e3e3;
$color-warning: #f58220;
$color-warning-hover: #ffa200;
$color-green: #04ae00;
$color-positive: #96cc9b;
$color-positive-hover: #74b67a;
$color-blue: #56819f;
$color-danger: #f30606;

$font-header: 'Pacifico', cursive;
$font-text: 'Roboto', sans-serif;

$font-light: 300;
$font-normal: 400;
$font-semibold: 500;
$font-bold: 700;

$transition: all .3s;
$radius: 4px;

$base-size: 12px;