.main__g-stats__chart {
  margin: auto 20%;
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    width: 100%;
  }

  .btn-wrapper {
    width: 100%;
    justify-content: space-around;

    .button {
      border-radius: $radius;
      padding: 10px;
      background: $color-grey-disabled;

      div {
        margin: 4px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $color-blue;
      }

      p {
        margin: 4px;
      }
    }

    div:nth-of-type(2) div {
      background: $color-warning;
    }

    div:nth-of-type(3) {
      background: $color-light;

      div {
        background: $color-green;
      }

      p {
        color: $color-blue;
      }
    }
  }

  img {
    height: 100%;
    width: 100%;
  }
}