.main__g-stats__date {
  border-bottom: solid 1px;
  border-color: $color-grey-hover;
  display: flex;
  justify-content: space-around;

  &__wrapper {
    margin: 20px;
    width: 60%;

    .date-input__wrapper {
      border: solid 1px;
      border-left: $color-grey-hover;
      border-radius: $radius;
      border-color: $color-grey-hover;

      input {
        margin: 3px;
        border: none;
      }

      input:first-of-type {
        border-right: solid 1px;
        border-color: $color-grey-hover;
      }
    }

    a {
      width: 36px;
      background-color: $color-warning;
      color: $color-light;
      border-radius: $radius;
      display: flex;
      justify-content: center;

      img {
        margin: 9px;
        height: 20px;
        width: 20px;

      }
    }
  }

  img {
    margin: 3px;
    height: 20px;
    width: 20px;
  }
}