.main__g-stats__stats {
  border-bottom: solid 1px;
  border-color: $color-grey-hover;
  display: flex;
  justify-content: center;

  p {
    margin: 0;
    font-weight: $font-bold;
  }

  .column {
    margin: 20px 0;
    width: 30%;
    display: flex;
    flex-direction: column;

    > div {
      margin: 10px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px;
      border-color: $color-grey-hover;
      
      span {
        color: $color-dark;
      }
    }
  }

  img {
    margin: 3px;
    height: 200px;
    width: 200px;
  }
}